<div class="default-page">
    <div id="mainContent" class="main container clearfix">
        <!-- ko if: currentJob -->
            <!-- ko with: currentJob -->
                <!-- ko template: { name: 'jobDetails' } -->
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: currentJob -->
            <h3>No jobs currently scheduled</h3>            
        <!-- /ko -->
    </div>
</div>
<script type="text/javascript">
    requirejs(["taxi"], function (taxi) {
        taxi.init();
    });
</script>

<script type="text/html" id="jobDetails">
    <div>
        <table>
            <tr>
                <th>Passenger name</th>
                <td>{{clientName}}</td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td>{{clientPhoneNumber}}</td>
            </tr>
            <tr>
                <th>Pickup location</th>
                <td>{{pickupLocation}}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{postCode}}</td>
            </tr>
            <tr>
                <th>Pickup time</th>
                <td>{{pickupTime}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{price}}</td>
            </tr>
        </table>
        <div id="mapCanvas"></div>

        <!-- ko ifnot: $root.paymentMode -->
        <a class="button blue" href="tel:{{clientPhoneNumber }}">Call client</a>
        <a class="button green" href="#" data-bind="click: $root.takePayment">Take payment</a>
        <!-- /ko -->

        <!-- ko if: $root.paymentMode -->
        <div class="tipJar">
            <label for="tip">Tip</label>£<input type="number" step="0.01" name="tip" data-bind="value: $root.tip" />
        </div>
        <a class="button green" href="#" data-bind="click: $root.processPayment">Take payment</a>
        <!-- /ko -->
    </div>
</script>