<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/lib/jquery-2.1.1.js"></script>
    <script src="/js/lib/knockout-3.2.0.debug.js"></script>
    <script src="/js/lib/lodash.js"></script>
    <script src="/js/lib/require-2.1.6.js"></script>
    <!--SCRIPTS END-->

    <script>
        requirejs.config({
            baseUrl: '/js',
            paths: {
                jquery: 'lib/jquery-2.1.1',
                lodash: 'lib/lodash',
                ko: 'lib/knockout-3.2.0.debug',
                db: 'taxiDB'
            }
        });
    </script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
  </body>
</html>
